i {
    transform: rotateZ(45deg);
}
.container--ships {
    background-color: #808080;
    width: 365px;
    margin: 2% auto;
    border-radius: 15px;
    height: 86px;
    .container--ships--title {
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
            font-size: 24px;
        }
    }
    .container--ships--informations {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        margin: auto auto 5%;
        div:last-child {
            margin-left: 5%;
            color: #33CCCC;
            font-weight: bolder;
            font-size: 30px;
        }
    }
}
