.settings-container {
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 100svh;
  margin: auto;
}

.settings-title {
  text-align: center;
  margin-bottom: 20px;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #2a2a2a;
  border-radius: 5px;
}

.volume-control {
  display: flex;
  align-items: center;
}

.play-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.volume-slider {
  width: 100px;
}

.logout-button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}

.container-sound,
.container-music {
  --color: #a5a5b0;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
  margin-right: 1em;
}

.container-sound .play-sound,
.container-music .play-music {
  position: absolute;
  animation: keyframes-fill 0.5s;
}

.container-sound .pause-sound,
.container-music .pause-music {
  position: absolute;
  display: none;
  animation: keyframes-fill 0.5s;
}

.container-sound input:checked ~ .play-sound,
.container-music input:checked ~ .play-music {
  display: none;
}

.container-sound input:checked ~ .pause-sound,
.container-music input:checked ~ .pause-music {
  display: block;
}

.container-sound input,
.container-music input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

@keyframes keyframes-fill {
  0% {
    transform: rotate(-180deg) scale(0);
    opacity: 0;
  }
  50% {
    transform: rotate(-10deg) scale(1.2);
  }
}
